* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
}

#light-1,
#light-3,
#light-5,
#light-7,
#light-9 {
  fill: #00ff00;
  animation: light-green-red 3s steps(1) infinite both;
}

@keyframes light-green-red {
  50% {
    fill: #ff0000;
  }
}

#light-2,
#light-4,
#light-6,
#light-8 {
  fill: #ff0000;
  animation: light-red-green 3s steps(1) infinite both;
}

@keyframes light-red-green {
  50% {
    fill: #00ff00;
  }
}

#cat-belly {
  animation: belly 5s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes belly {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}

.snowflake {
  opacity: 0;
  position: absolute;
  animation-name: snowflakes-fall;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.snowflake:nth-of-type(0) {
  animation-delay: 0s;
}
.snowflake:nth-of-type(1) {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  animation-delay: 6s;
}
.snowflake:nth-of-type(7) {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  animation-delay: 1s;
}
.snowflake:nth-of-type(9) {
  animation-delay: 3s;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(300px);
    opacity: 0;
  }
}
